# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Mypy cache
.mypy_cache/

# Custom or editor-specific files
.chanlit/
.chainlit/translations/
.files/

# envs
*.env